@import url(./__item/navigation__item.css);
@import url(./__list/navigation__list.css);
@import url(./__button/navigation__button.css);
@import url(./_flex/navigation_flex.css);

.navigation {
  border-radius: 0 0 16px 16px;
  color: #ffffff;
  list-style: none;
  position: absolute;
  background: #1A1B22;
  width: 100%;
  top: 56px;
}

@media screen and (min-width: 550px)
{
  .navigation {
    position: relative;
    display: flex;
    justify-content: flex-end;
    background: none;
    top: 0px;
    /* padding-right: 40px; */
  }
}

/* @media screen and (min-width: 800px)
{
  .navigation {
    padding-right: 4.5rem;
  }
}

@media screen and (min-width: 1279px)
{
  .navigation {
    padding-right: 6.5rem;
  }
} */