@import url(./__item/navigation__item.css);
@import url(./__list/navigation__list.css);
@import url(./__button/navigation__button.css);
@import url(./_flex/navigation_flex.css);

.navigation {
  border-radius: 0 0 16px 16px;
  color: #ffffff;
  list-style: none;
  position: absolute;
  background: #1A1B22;
  width: 100%;
  top: 56px;
}
