.navigation__list {
  list-style: none;
  padding: 0 1rem 1rem;
  margin: 1rem 0 0 0
}

@media screen and (min-width: 500px) and (max-width: 589px)
{
  .navigation__list {
    margin: 1rem 0 0 1.5rem;
  }
}

@media screen and (min-width: 590px)
{
  .navigation__list {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}