.search-results__title {
  font-size: 1.88rem;
  line-height: 2.125rem;
  margin: 0 0 1.5rem 0;
  padding-top: 2rem;
}

@media screen and (min-width: 1280px)
{
  .search-results__title {
    font-size: 2.5rem;
    line-height: 2.88rem;
    margin-bottom: 4rem;
    padding-top: 5rem;
  }
}