.footer__lists {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media screen and (min-width: 500px) and (max-width: 599px)
{
  .footer__lists {
    justify-content: space-between;
  }
}

@media screen and (min-width: 600px)
{
  .footer__lists {
    order: 1;
    justify-content: flex-end;
  }
}