.article__title {
  margin: 10px 16px 0 16px;
  font-size: 1.375rem;
  line-height: 1.625rem;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 1280px)
{
  .article__title {
    font-size: 1.625rem;
    line-height: 1.875rem;
    margin: 13px 16px 0 24px;
  }
}