.page__title {
  margin: 8px 0 0 0;
  color: #1A1B22;
  opacity: 0.5;
  font-family: Roboto, Arial, Helvetica, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 550px)
{
  .page__title {
    margin: 24px 0 0 0;
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 1280px)
{
  .page__title {
    font-size: 1.125rem;
    margin: 40px 0 0 0;
  }
}