.author__description {
  font-family: Roboto, Arial, Helvetica, serif;;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin: 0 0 24px 0;
}

.author__description:last-child {
  margin: 0;
}

@media screen and (min-width: 600px)
{
  .author__description {
    margin-left: 32px;
    max-width: 600px;
  }

  .author__description:last-child {
    margin-left: 32px;
  }
}