@import url(./__title/search-container__title.css);
@import url(./__subtitle/search-container__subtitle.css);
@import url(./__form/search-container__form.css);
@import url(./__input/search-container__input.css);
@import url(./__button/search-container__button.css);
@import url(./__error/search-container__error.css);

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

@media screen and (min-width: 470px)
{
  .search-container {
    max-width: 450px;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1024px)
{
  .search-container {
    max-width: 610px;
    margin-bottom: 5rem;
  }
}