.article__keyword {
  position: absolute;
  left: 16px;
  top: 16px;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px 15px;
  font-family: Roboto, Arial, Helvetica, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #000;
}

@media screen and (min-width: 550px)
{
  .article__keyword {
    left: 8px;
    top: 8px;
  }
}

@media screen and (min-width: 1280px)
{
  .article__keyword {
    left: 24px;
    top: 24px;
  }
}