<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="<%=require('./images/favicon.svg')%>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <meta name="description" content="Cервис, в котором можно найти новости по запросу и сохранить в личном кабинете">
  <meta name="author" content="Айна Смольянинова">
</head>
<body>
  <div class="page">
    <header class="header page__section header_theme_white">
      <div class="header__panel page__container header__panel_theme_white">
        <div class="header__logo">
          <a href="./" class="logo logo_theme_white link">NewsExplorer</a>
          <button class="button__icon button__icon_burger button__icon_burger-black"></button>
          <button class="button__icon button__icon_close hidden"></button>
        </div>
        <nav class="navigation hidden">
          <ul class="navigation__list">
            <li><a href="./" class="navigation__item navigation__item_theme_white link">Главная</a></li>
            <li><a href="./saved.html" class="navigation__item navigation__item_theme_white navigation__item_active-black-border link">Сохранённые статьи</a></li>
          </ul>
          <button class="button button_type_button navigation__button navigation__button_logout-white link">Грета</button>
        </nav>
      </div>
    </header>
    <main>
      <div class="overlay hidden"></div>
      <section class="saved-articles page__section page__container">
        <h1 class="page__title">Сохранённые статьи</h1>
        <p class="title saved-articles__title">Грета, у вас 5 сохранённых статей</p>
        <p class="saved-articles__keywords">По ключевым словам: <span class="saved-articles__keyword">Природа</span>, <span class="saved-articles__keyword">Тайга</span> и <span class="saved-articles__keywords-count">2-м другим</span></p>
      </section>
      <section class="search-results page__section page__container">
        <div class="articles">
          <div class="article">
            <button class="article__delete-icon" data-tooltip="Убрать из сохранённых"></button>
            <span class="article__keyword">Природа</span>
            <img src="<%=require('./images/image_08.jpg')%>" alt="image description" class="article__image">
            <time datetime="2019-08-02" class="article__date">2 августа, 2019</time>
            <h3 class="title article__title">Национальное достояние – парки</h3>
            <p class="article__intro">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
            <a href="https://lenta.ru/" class="article__source link" target="_blank">Лента.ру</a>
          </div>
          <div class="article">
            <button class="article__delete-icon" data-tooltip="Убрать из сохранённых"></button>
            <span class="article__keyword">Природа</span>
            <img src="<%=require('./images/image_01.jpg')%>" alt="image description" class="article__image">
            <time datetime="2019-08-02" class="article__date">2 августа, 2019</time>
            <h3 class="title article__title">Лесные огоньки: история одной фотографии</h3>
            <p class="article__intro">Фотограф отвлеклась от освещения суровой политической реальности Мексики, чтобы запечатлеть ускользающую красоту одного из местных чудес природы.</p>
            <a href="https://meduza.io/" class="article__source link" target="_blank">Медуза</a>
          </div>
          <div class="article">
            <button class="article__delete-icon" data-tooltip="Убрать из сохранённых"></button>
            <span class="article__keyword">Тайга</span>
            <img src="<%=require('./images/image_05.jpg')%>" alt="image description" class="article__image">
            <time datetime="2019-08-02" class="article__date">2 августа, 2019</time>
            <h3 class="title article__title">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h3>
            <p class="article__intro">Знаменитый фотограф снимает первозданные леса России, чтобы рассказать о необходимости их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где</p>
            <a href="https://ria.ru/" class="article__source link" target="_blank">Риа</a>
          </div>
          <div class="article">
            <button class="article__delete-icon" data-tooltip="Убрать из сохранённых"></button>
            <span class="article__keyword">Парки</span>
            <img src="<%=require('./images/image_06.jpg')%>" alt="image description" class="article__image">
            <time datetime="2019-08-02" class="article__date">2 августа, 2019</time>
            <h3 class="title article__title">Национальное достояние – парки</h3>
            <p class="article__intro">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
            <a href="https://meduza.io/" class="article__source link" target="_blank">Медуза</a>
          </div>
          <div class="article">
            <button class="article__delete-icon" data-tooltip="Убрать из сохранённых"></button>
            <span class="article__keyword">Природа</span>
            <img src="<%=require('./images/image_01.jpg')%>" alt="image description" class="article__image">
            <time datetime="2019-08-02" class="article__date">2 августа, 2019</time>
            <h3 class="title article__title">Лесные огоньки: история одной фотографии</h3>
            <p class="article__intro">Фотограф отвлеклась от освещения суровой политической реальности Мексики, чтобы запечатлеть ускользающую красоту одного из местных чудес природы.</p>
            <a href="https://meduza.io/" class="article__source link" target="_blank">Медуза</a>
          </div>
        </div>
      </section>

    </main>
    <footer class="footer page__section page__container">
      <div class="footer__lists">
        <ul class="footer__navigation">
          <li><a href="./" class="footer__navigation-item link">Главная</a></li>
          <li><a href="https://praktikum.yandex.ru/" class="footer__navigation-item link">Яндекс.Практикум</a></li>
        </ul>
        <ul class="footer__socials">
          <li class="footer__socials-item footer__socials-item_github"><a class="link" href="https://github.com/ai-small" ><img src="<%=require('./images/github.svg')%>" alt="Github profile"></a></li>
          <li class="footer__socials-item footer__socials-item_facebok">
            <a href="https://ru-ru.facebook.com/" class="link">
              <picture>
                <source srcset="<%=require('./images/facebook-round-icon.svg')%>" media="(min-width: 600px) and (max-width: 1000px)">
                <img src="<%=require('./images/facebook.svg')%>" alt="Facebook profile">
              </picture>
            </a>
          </li>
        </ul>
      </div>
      <p class="footer__copyright">&copy; 2020 Supersite, Powered by News API</p>
    </footer>
  </div>
  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>


