.article__date {
  font-family: Source Sans Pro, Arial, Helvetica, serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #B6BCBF;
  padding: 12px 1rem 0 1rem;
  margin: 0;
}
