@import url(./__logo/header__logo.css);
@import url(./__burger/header__burger.css);
@import url(./__menu/header__menu.css);

.header {
    color: #ffffff;
    background: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash-320.jpg) no-repeat;
    background-size: cover;
    height: 536px;
}

@media screen and (max-width: 768px) and (min-width: 500px)
{
  .header {
    background: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash-768.jpg) no-repeat center;
  }
}