.navigation__button {
  max-width: 288px;
  border: 1px solid #FFFFFF;
  background: #1A1B22;
  margin: 6px 16px 24px 16px;
  color: #FFFFFF;
  font-family: Roboto, Arial, Helvetica, serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  align-self: center;
}

@media screen and (min-width: 550px)
{
  .navigation__button {
    max-width: 152px;
    border: 1px solid #FFFFFF;
    background: none;
    margin: 14px 0 12px 0;
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 40px;

  }
}

@media screen and (min-width: 1280px)
{
  .navigation__button {
    font-size: 1.125rem;
    min-width: 176px;
    min-height: 48px;
  }
}